<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="KM.V4DriverCommonLib" />
        <codeBase version="1.0.0.0" href="KOBxxK_C01.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LocalizationLibrary" />
        <codeBase version="1.0.0.0" href="KOBxxK_L01.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LocalizationLibraryQPBEditor" />
        <codeBase version="1.0.0.0" href="KOBxxK_S01.dll"/>
      </dependentAssembly>

		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="af" /><codeBase version="1.0.0.0" href="KOBxxK_L01_af.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ar" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ar.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="be" /><codeBase version="1.0.0.0" href="KOBxxK_L01_be.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="bg" /><codeBase version="1.0.0.0" href="KOBxxK_L01_bg.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ca" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ca.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="cs" /><codeBase version="1.0.0.0" href="KOBxxK_L01_cs.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="cy" /><codeBase version="1.0.0.0" href="KOBxxK_L01_cy.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="da" /><codeBase version="1.0.0.0" href="KOBxxK_L01_da.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="de" /><codeBase version="1.0.0.0" href="KOBxxK_L01_de.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="el" /><codeBase version="1.0.0.0" href="KOBxxK_L01_el.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="en-GB" /><codeBase version="1.0.0.0" href="KOBxxK_L01_en-GB.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="en-US" /><codeBase version="1.0.0.0" href="KOBxxK_L01_en-US.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="es" /><codeBase version="1.0.0.0" href="KOBxxK_L01_es.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="et" /><codeBase version="1.0.0.0" href="KOBxxK_L01_et.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="eu" /><codeBase version="1.0.0.0" href="KOBxxK_L01_eu.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="fa" /><codeBase version="1.0.0.0" href="KOBxxK_L01_fa.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="fi" /><codeBase version="1.0.0.0" href="KOBxxK_L01_fi.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="fr" /><codeBase version="1.0.0.0" href="KOBxxK_L01_fr.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="he" /><codeBase version="1.0.0.0" href="KOBxxK_L01_he.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="hi" /><codeBase version="1.0.0.0" href="KOBxxK_L01_hi.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="hr" /><codeBase version="1.0.0.0" href="KOBxxK_L01_hr.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="hu" /><codeBase version="1.0.0.0" href="KOBxxK_L01_hu.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="id" /><codeBase version="1.0.0.0" href="KOBxxK_L01_id.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="is" /><codeBase version="1.0.0.0" href="KOBxxK_L01_is.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="it" /><codeBase version="1.0.0.0" href="KOBxxK_L01_it.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ja" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ja.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ko" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ko.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="lt" /><codeBase version="1.0.0.0" href="KOBxxK_L01_lt.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="lv" /><codeBase version="1.0.0.0" href="KOBxxK_L01_lv.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="mn" /><codeBase version="1.0.0.0" href="KOBxxK_L01_mn.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ms" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ms.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="mt" /><codeBase version="1.0.0.0" href="KOBxxK_L01_mt.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="nl" /><codeBase version="1.0.0.0" href="KOBxxK_L01_nl.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="no" /><codeBase version="1.0.0.0" href="KOBxxK_L01_no.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="pl" /><codeBase version="1.0.0.0" href="KOBxxK_L01_pl.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="pt" /><codeBase version="1.0.0.0" href="KOBxxK_L01_pt.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="pt-BR" /><codeBase version="1.0.0.0" href="KOBxxK_L01_pt-BR.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="pt-PT" /><codeBase version="1.0.0.0" href="KOBxxK_L01_pt-PT.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ro" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ro.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ru" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ru.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="sk" /><codeBase version="1.0.0.0" href="KOBxxK_L01_sk.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="sl" /><codeBase version="1.0.0.0" href="KOBxxK_L01_sl.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="sv" /><codeBase version="1.0.0.0" href="KOBxxK_L01_sv.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="th" /><codeBase version="1.0.0.0" href="KOBxxK_L01_th.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="tr" /><codeBase version="1.0.0.0" href="KOBxxK_L01_tr.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="uk" /><codeBase version="1.0.0.0" href="KOBxxK_L01_uk.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="ur" /><codeBase version="1.0.0.0" href="KOBxxK_L01_ur.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="vi" /><codeBase version="1.0.0.0" href="KOBxxK_L01_vi.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="zh-CN" /><codeBase version="1.0.0.0" href="KOBxxK_L01_zh-CN.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibrary.resources" culture="zh-TW" /><codeBase version="1.0.0.0" href="KOBxxK_L01_zh-TW.resources.dll"/></dependentAssembly>

		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="af" /><codeBase version="1.0.0.0" href="KOBxxK_S01_af.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ar" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ar.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="be" /><codeBase version="1.0.0.0" href="KOBxxK_S01_be.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="bg" /><codeBase version="1.0.0.0" href="KOBxxK_S01_bg.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ca" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ca.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="cs" /><codeBase version="1.0.0.0" href="KOBxxK_S01_cs.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="cy" /><codeBase version="1.0.0.0" href="KOBxxK_S01_cy.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="da" /><codeBase version="1.0.0.0" href="KOBxxK_S01_da.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="de" /><codeBase version="1.0.0.0" href="KOBxxK_S01_de.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="el" /><codeBase version="1.0.0.0" href="KOBxxK_S01_el.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="en-GB" /><codeBase version="1.0.0.0" href="KOBxxK_S01_en-GB.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="en-US" /><codeBase version="1.0.0.0" href="KOBxxK_S01_en-US.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="es" /><codeBase version="1.0.0.0" href="KOBxxK_S01_es.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="et" /><codeBase version="1.0.0.0" href="KOBxxK_S01_et.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="eu" /><codeBase version="1.0.0.0" href="KOBxxK_S01_eu.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="fa" /><codeBase version="1.0.0.0" href="KOBxxK_S01_fa.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="fi" /><codeBase version="1.0.0.0" href="KOBxxK_S01_fi.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="fr" /><codeBase version="1.0.0.0" href="KOBxxK_S01_fr.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="he" /><codeBase version="1.0.0.0" href="KOBxxK_S01_he.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="hi" /><codeBase version="1.0.0.0" href="KOBxxK_S01_hi.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="hr" /><codeBase version="1.0.0.0" href="KOBxxK_S01_hr.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="hu" /><codeBase version="1.0.0.0" href="KOBxxK_S01_hu.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="id" /><codeBase version="1.0.0.0" href="KOBxxK_S01_id.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="is" /><codeBase version="1.0.0.0" href="KOBxxK_S01_is.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="it" /><codeBase version="1.0.0.0" href="KOBxxK_S01_it.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ja" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ja.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ko" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ko.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="lt" /><codeBase version="1.0.0.0" href="KOBxxK_S01_lt.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="lv" /><codeBase version="1.0.0.0" href="KOBxxK_S01_lv.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="mn" /><codeBase version="1.0.0.0" href="KOBxxK_S01_mn.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ms" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ms.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="mt" /><codeBase version="1.0.0.0" href="KOBxxK_S01_mt.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="nl" /><codeBase version="1.0.0.0" href="KOBxxK_S01_nl.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="no" /><codeBase version="1.0.0.0" href="KOBxxK_S01_no.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="pl" /><codeBase version="1.0.0.0" href="KOBxxK_S01_pl.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="pt" /><codeBase version="1.0.0.0" href="KOBxxK_S01_pt.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="pt-BR" /><codeBase version="1.0.0.0" href="KOBxxK_S01_pt-BR.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="pt-PT" /><codeBase version="1.0.0.0" href="KOBxxK_S01_pt-PT.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ro" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ro.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ru" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ru.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="sk" /><codeBase version="1.0.0.0" href="KOBxxK_S01_sk.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="sl" /><codeBase version="1.0.0.0" href="KOBxxK_S01_sl.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="sv" /><codeBase version="1.0.0.0" href="KOBxxK_S01_sv.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="th" /><codeBase version="1.0.0.0" href="KOBxxK_S01_th.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="tr" /><codeBase version="1.0.0.0" href="KOBxxK_S01_tr.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="uk" /><codeBase version="1.0.0.0" href="KOBxxK_S01_uk.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="ur" /><codeBase version="1.0.0.0" href="KOBxxK_S01_ur.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="vi" /><codeBase version="1.0.0.0" href="KOBxxK_S01_vi.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="zh-CN" /><codeBase version="1.0.0.0" href="KOBxxK_S01_zh-CN.resources.dll"/></dependentAssembly>
		<dependentAssembly><assemblyIdentity name="LocalizationLibraryQPBEditor.resources" culture="zh-TW" /><codeBase version="1.0.0.0" href="KOBxxK_S01_zh-TW.resources.dll"/></dependentAssembly>
	  
	  <dependentAssembly>
        <assemblyIdentity name="KM.PrinterExtensionLibrary" />
        <codeBase version="1.0.0.0" href="KOBxxK_X01.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
